* {
    font-family: 'Alata';
    user-select: none;
}
:root {
	--dark: #222233;
	--light: #eeeeff;
}
h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.activate {
	background-color: var(--light);
	color: var(--dark);
	cursor: pointer;
	border: none;
}
.light-theme {
	background-color: var(--light);
	color: var(--dark);
}
.dark-theme {
	background-color: var(--dark);
	color: var(--light);
}
.mode {
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
	width: 200px;
	margin: 1px;
}
.active {
	filter: invert(100%);
}