* {
    font-family: 'Alata';
    user-select: none;
}
:root {
	--dark: #222233;
	--light: #eeeeff;
}
.activate {
	background-color: var(--light);
	color: var(--dark);
	cursor: pointer;
	border: none;
}
.light-theme {
	background-color: var(--light);
	color: var(--dark);
}
.dark-theme {
	background-color: var(--dark);
	color: var(--light);
}
.mode {
	cursor: pointer;
	width: 120px;
	margin: 1px;
}
.active {
	filter: invert(100%);
}