* {
    color: white;
    font-family: 'Alatsi';
    user-select: none;
}
body {
    width: 780px;
    background-color: var(--black);
    color: var(--white);
}
.display {
    width: 780px
}
@keyframes shake {
    0% { transform: translate(0px, 0px); }
    5% { transform: translate(4px, 0px); }
    10% { transform: translate(4px, 0px) rotate(0.5deg); }
    15% { transform: translate(4px, 0px) rotate(-0.5deg); }
    20% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, 0px); }
    55% { transform: translate(-4px, 0px); }
    60% { transform: translate(4px, 0px) rotate(-0.5deg); }
    65% { transform: translate(4px, 0px) rotate(0.5deg); }
    70% { transform: translate(0px, 0px); }
}
@keyframes shook {
    0% { transform: translate(0px, 0px); }
    5% { transform: translate(4px, 0px); }
    10% { transform: translate(4px, 0px) rotate(0.5deg); }
    15% { transform: translate(4px, 0px) rotate(-0.5deg); }
    20% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, 0px); }
    55% { transform: translate(-4px, 0px); }
    60% { transform: translate(4px, 0px) rotate(-0.5deg); }
    65% { transform: translate(4px, 0px) rotate(0.5deg); }
    70% { transform: translate(0px, 0px); }
}
.row {
    animation-iteration-count: infinite;
}
.shaking {
    animation: shake 0.2s;
}
.shooking {
    animation: shook 0.2s;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.modal {
    position: fixed;
    top: 100px;
    left: 80px;
    width: 600px;
    height: 350px;
    display: none;
    z-index: 1;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--black);
    padding: 20px;
}
.modal button {
    border: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 20px;
    background-color: var(--darkendGreen);
}
.modal button:hover {
    filter: brightness(85%);
}
.modal button:active {
    filter: brightness(75%);
}