:root {
    --green: #6aaa64;
    --darkendGreen: #538d4e;
    --yellow: #c9b458;
    --darkendYellow: #b59f3b;
    --lightGray: #d8d8d8;
    --gray: #86888a;
    --darkGray: #939598;
    --iGray: #3a3a3c;
    --white: #fff;
    --black: #121213;
}
.keyboard {
    margin-top: 10px;
    margin-left: 142px;
    width: 484px;
}
.key {
    color: var(--white);
    background-color: var(--gray);
    border-radius: 5px;
    float: left;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 20px;
    width: 40px;
    font-weight: 900;
    cursor: pointer;
}
.key:hover {
    filter: brightness(90%);
}
.yellow {
    color: var(--white);
    background-color: var(--darkendYellow);
    border-color: var(--darkendYellow);
}
.correct {
    color: var(--white);
    background-color: var(--darkendGreen);
    border-color: var(--darkendGreen);
}
.incorrect {
    color: var(--white);
    background-color: var(--iGray);
    border-color: var(--iGray);
}