.widget {
    background-size: cover;
    background-position: center;

    margin: 10px;
    border-radius: 10px;
    transition: 0.02s;
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-wrap: wrap-reverse;
}
.widget:hover {
    filter: brightness(95%);
}
.widget .name {
    width: 100%;
    font-size: 25px;

    padding: 12px;
    padding-top: 50%;
    background-image: linear-gradient(#00000000, #000000ff);
}
.widget .widgetContent {
    padding: 12px;
    width: 100%;
    background-color: #000000ff;
}
.widget .description {
    margin-bottom: 10px;
    float: none;
}
.widget .icons img {
    margin-right: 3px;
    width: 32px;
    height: 32px;
    background-color: gray;
    padding: 6px;
    border-radius: 100px;
}

.hidden {
    display: none;
}