.menu {
    float: left;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-device-width: 480px) {
    .menu {
        grid-template-columns: 1fr;
    }
}