.hboxc {
    height: 100%;
    float: left;
}
.vboxc {
    height: 100%;
    float: none;
}
.hboxc::after {
    display: block;
    content: "";
    clear: both;
}
.vboxc::after {
    display: table;
    content: "";
    clear: both;
}