text {
    box-sizing: content-box;
    position: relative;
    display: inline-block;
    /*background-color: rgb(255,0,0);*/
    border: 0px solid rgb(0,255,0);
    background-size: cover;
    box-shadow: 4px 8px rgb(128,128,128);
    transition: transform 0.25s;
    z-index: 2;
}
text:hover {
    transform: translate(-2px,-4px);
}
text:active {
    filter: brightness(95%);
    transform: translate(2px,4px);
}
img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
div {
    width: 100%;
    line-height: 0px;
    background-color: 4px 8px rgb(128,128,128);
}