.tile {
    float: left;
    border: 2px solid var(--gray);
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 20px;
    width: 40px;
    font-weight: 900;
}
.breaker {
    margin-left: 14px;
}
.empty {
    height: 25.6px;
}
.correct {
    background-color: var(--green);
    border-color: var(--green);
}
.yellow {
    background-color: var(--yellow);
    border-color: var(--yellow);
}
.incorrect {
    background-color: var(--gray);
}