<style>
* {
  box-sizing: border-box;
}
[class *= "box-"]{
  float: left;
  padding: 10px;
  border: 2px solid powderblue;
}
.box-filter {
  width: 30%;
  background-color: rgb(255,0,0);
}
.box-list {
  width: 30%;
}
.box-map {
  width: 40%;
}
.effect html {
  background-color: rgb(255,0,0);
}
.effect body {
  margin: 50px;
  background-color: rgb(32,32,32);
}
</style>
