<style>
* {
  box-sizing: border-box;
}
[class *= "box-"]{
  float: left;
  padding: 10px;
  border: 2px solid powderblue;
}
.box-filter {
  width: 30%;
  background-color: rgb(255,0,0);
}
.box-list {
  width: 30%;
}
.box-map {
  width: 40%;
}
.effect {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(224,224,224);
  background-color: rgb(255,255,255);
}
</style>
