:root {
    --black: rgb(0,0,0);
    --red: rgb(255,0,0);
    --back: rgb(0,128,0);
    --white: rgb(255,255,255);
    --caba: rgb(0,64,0);
}
.hand {
    margin: 5px;
    background-color: var(--back);
    width: fit-content;
}
.hand::after{
    content: "";
    clear: both;
    display: table;
}
.pot {
    position: absolute;
    left: 255px;
    top: 3px;
}
.card {
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    background-color: var(--white);
    margin: 10px;
    float: left;
    height: 90px;
    width: 60px;
}