.widget {
    margin: 10px;
    float: left;
    width: 200px;
    height: 250px;
    background-color: var(--buttons);
    filter: brightness(99%);
    border-radius: 10px;
    transition: 0.02s;
    padding: 12px;
    text-decoration: none;
    color: var(--black);
}
.widget:hover {
    filter: brightness(95%);
}
.widget .name {
    float: none;
    font-size: 25px;
}
.widget .description {
    float: none;
    overflow: hidden;
}
.widget .icons {
    position: absolute;
    bottom: 8px;
}
.widget .icons img {
    margin-right: 3px;
    width: 32px;
    height: 32px;
    background-color: gray;
    padding: 6px;
    border-radius: 100px;
}