:root {
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --back: #C5EFFC;
    --box-1: #1481BA;
    --box-2: #11B5E4;
    --text-1: #001021;
    --text-2: #034748;
}
* {
    font-family: 'Alata';
    user-select: none;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--back);
    color: var(--black);
    margin: 0px;
    overflow: hidden;
}