.category-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;
}

.category-shower {
    width: 100%;
    height: 100%;

    position: relative;

    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 1em;

    border-radius: 3em;
}

.category-vote-count {
    position: absolute;
    top: 0px;
    left: 1em;
}