:root {
    
}
* {
    box-sizing: border-box;
    font-family: "Alata";
}
body {
    margin: 0px;
    padding: 0px;
}
#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}
#head {
    width: 100%;
    background-color: #001414;
}
button {
    cursor: pointer;
}