#menu {
    padding: 5px;
    background-color: #001411;
}
.list-item {
    display: grid;
    grid-template-columns: 8% 92%;
    margin-bottom: 10px;

    background-color: #34ebcc;
}
.list-item:nth-child(even) {
    background-color: #34eb9e;
}
.chooser {
    font-size: 50px;
    margin-right: 8%;
}