#menu {
    padding: 5px;
}
.list-item {
    display: flex;

    background-color: #34ebcc;
    color: var(--background);

    margin-bottom: 2px;
}
.list-item:nth-child(even) {
    background-color: #34eb9e;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    float: left;
}
.chooser {
    flex-grow: 3;
    font-size: 70px;
    border-bottom: 1px solid var(--background);
}
.play-controls {
    flex-grow: 1;
}
.play-controls button {
    height: 100%;
}

.description {
    padding: 5px;
}