:root {
    --key-width: 7vw;
    --key-height: 10vh;
    --popup-background: #00aaee;
}
#popup {
    position: absolute;

    top: 10%;
    left: 10%;
    width: 80vw;
    height: 80vh;
    padding-left: 20%;
    z-index: 2;

    background-color: var(--popup-background);

    display: none;
}
.blurred {
    filter: blur(2px) brightness(60%);
}
.note {
    width: fit-content;
    margin: auto;
}

.key {
    color: #ffffff;
    background-color: #ffffff55;
    width: var(--key-width);
    height: var(--key-height);
    margin: 1vw;
    border-radius: 50%;
}
#s {
    position: absolute;
    top: 20%;
    left: 5%;
}
#d {
    position: absolute;
    top: 40%;
    left: 20%;
}
#f {
    position: absolute;
    top: 60%;
    left: 35%;
}
#l {
    position: absolute;
    top: 20%;
    right: 5%;
}
#k {
    position: absolute;
    top: 40%;
    right: 20%;
}
#j {
    position: absolute;
    top: 60%;
    right: 35%;
}
.key b {
    position: absolute;
    transform: translate(calc((var(--key-width) - 0.5em)/2), calc((var(--key-height) - 1.5em)/2));
}

#closePopup {
    color: #ffffff;
    background-color: #ffffff55;
    float: right;
}