.jokes {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.jokes img {
    height: 250px;
    margin: 3px;
    float: left;
}
.jokes p {
    margin: 3px;
    float: left;
    width: fit-content;
    padding: 2px;
    border: 1px solid black;
}