* {
    user-select: none;
}
:root {
    --black: #000000;
    --white: #ffffff;
    --error: #ff0000;

    --back: #121212;
    --grid: #997755;
}
body {
    cursor: url('images/Cursor.png'), auto;
    background-color: var(--back);
    overflow: hidden;
}
.camera {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 768px;
    height: 512px;
    overflow: hidden;
}
.map {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid var(--back);
    width: 768px; /* 24*32 */
    height: 512px; /* 16*32 */
}
.map img {
    background-color: var(--error);
    position: absolute;
    width: 32px;
    height: 32px;
    outline: 1px solid var(--grid);
}
.map img:hover {
    filter: brightness(85%);
}