:root {
    --warning: red;

    --font: "Alata";

    --margin-left: 4vw;
    --margin-top: 2vh;
}
* {
    box-sizing: border-box;
    font-family: var(--font);
}
body {
    background-color: #aaccff;
}
.content {
    position: absolute;
    left: var(--margin-left);
    top: var(--margin-top);

    width: calc(100vw - 2*var(--margin-left));
}
.contentGrid {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 452px;
}