.shows {
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
}
.shows::-webkit-scrollbar {
    width: 0px;
}
.show {
    height: 452px;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-y: scroll;
}
.show::-webkit-scrollbar {
    width: 0px;
}
.showTitle {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));
    padding-top: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}
.showTitle .title {
    font-size: 24px;
    margin-bottom: 0px;
}
.showTitle p {
    margin-bottom: 0px;
}
.showDetails {
    background-color: rgb(0,0,0);
    padding: 10px;
}

.showCat {
    margin-top: 0px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}
.showCat:hover {
    filter: brightness(90%);
}
.showCat:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
.showCatDetail {
    display: none;
}
.detailShowing {
    display: block;
}