.forecast {
    border-radius: 10px;
}
.bigForecast {
    width: 100%;
}
.bigForecast .details {
    display: block;
    float: none;
}
.bigForecast img {
    float: left;
}
.bigForecast .weatherNow {
    margin-left: 10px;
    float: left;
}
.bigForecast .timedata {
    margin-right: 3vw;
    float: right;
    text-align: right;
}
.bigForecast .graph {
    float: left;
    width: 100%;
}

.miniForecast {
    cursor: pointer;
    display: block;
    float: left;

    width: calc(0.5*((100vw - 2*var(--margin-left))/7) - 5px);
    margin-right: 5px;

    padding-left: 4px;
    padding-right: 4px;

    border-radius: 5px;

    text-align: center;
}
.miniForecast img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.miniForecast .temperature {
    font-size: 0.75em;
    display: inline-flex;
    width: 50%;
}
.miniForecast .temperature:nth-child(even) {
    color: #3333cc;
}
.miniForecast .temperature:nth-child(odd) {
    color: #cc3333;
}