#options {
    background-color: greenyellow;
    text-align: center;
    align-content: center;
    overflow-y: scroll;
}

button.options {
    margin-top: 2%;
    font-size: 2em;
    font-weight: 900;
    outline: none;
    border: none;

    background-color: cadetblue;
    color: maroon;
    padding: 1.6%;
    box-shadow: 5px 10px #333;
    transition: 0.05s;
    
    margin-bottom: 30px;
}
button.options:hover {
    box-shadow: 7px 14px #333;
    transform: translate(-2px, -4px);
}
button.options:active {
    box-shadow: 3px 6px #333;
    transform: translate(2px, 4px);
}

#charSelect {
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.characterOption {
    padding: 2%;
    background-color: white;

    box-shadow: 5px 10px #333;
    transition: 0.05s; 
}
.characterOption:hover {
    box-shadow: 7px 14px #333;
    transform: translate(-2px, -4px);
}
.characterOption:active {
    box-shadow: 3px 6px #333;
    transform: translate(2px, 4px);
}
.characterOption img {
    width: 80%;
}

.characterChosen {
    background-color: #a0b0ff;
}