* {
    user-select: none;
}
:root {
    --error: rgb(255,0,0);

    --map-border: rgb(110,110,120);

    --cell-shadow: rgb(50,50,40);
}
.map {
    width: 640px;
    height: 640px;
    background-color: var(--cell-shadow);
}
.row {
    width: 640px;
}
.cell {
    float: left;
    height: 32px;
}
.cell:hover {
    transform: translate(0.5px, -0.5px);
}
.cell:active {
    transition: 0.1s;
    transform: translate(-0.5px, 0.5px);
    filter: brightness(0.9);
}
.cell-row {
    transform: inherit;
}
.cell-row img {
    z-index: 1;
    box-shadow: inherit;
    transform: inherit;
    float: left;
    height: 8px;
    width: 8px;
}

.cell-selected {
    filter: brightness(2.5);
}

.resource {
    transform: inherit;
    z-index: 2;
    position: absolute;
}