* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-collapse: collapse;
}
:root {
    --header: #0088ee;
    --odd: #00ddff;
    --even: #00eeff;
    --right: #009900;
    --wrong: #ff0000;
    --border: #aaffff;
}
table {
    border: 1px solid var(--border);
}
tr:nth-child(even){
    background-color: var(--even);
}
tr:nth-child(odd){
    background-color: var(--odd);
}
td, th {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
}
tr:hover, button:hover {
    filter: brightness(90%);
}
th {
    background-color: var(--header);
}
.wrong {
    color: var(--wrong);
}
.right {
    color: var(--right);
}