* {
    box-sizing: border-box;
}
.slot {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid red;
}
.slot input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 0;
}
.checkmark {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: black;
    border-right: 1px solid red;
}
.slot:hover input ~ .checkmark {
    filter: brightness(85%);
}
  
.slot input:checked ~ .checkmark {
    background-color: red;
}
.frequent {
    border-right: 1px solid orange;
}

.slidopolian {
    height: 46px;
    float: left;
}

.blinking {
    filter: opacity(80%);
}

.line {
    height: 50px;
}
.line::after {
    content: none;
    clear: both;
    display: table;
}
.line select {
    float: left;
    width: 200px;
    height: 50px;
}