* {
    font-family: "Alata";
    box-sizing: border-box;
}
body {
    background-color: #002040;
    color: aliceblue;
}

.hidden {
    display: none;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.bigButton {
    border-radius: 50vh;
    background-color: #0047FF;
    border: none;
    color: white;
    padding: 0.4em 1em;
    font-size: large;
    cursor: pointer;
}

.display {
    height: 80vh;
    width: 100%;
    display: flex;
}

.image {
    height: 100%;
    background-size: cover;
    pointer-events: none;
}

.controls {
    padding: 0 0.8em;
}

td {
    width: 20%;
    padding: 0.2em 1em;
    text-align: center;
}