* {
    font-family: "Alata";
    box-sizing: border-box;
}

body {
    background-color: white;
}

#welcome {
    display: block;
}

#dating-container {
    display: none;
}

#dating-score {
    display: none;
}

#picross {
    display: none;
}

#picross-select {
    display: none;
}

#blender {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#audio-corner {
    display: none;
}

.big-button {
    padding: 1em;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;

    background-color: hotpink;
    border: 1px solid black;
    border-radius: 0.2em;
}

.big-button:hover {
    filter: brightness(85%);
}