* {
    font-family: "Alata";
    box-sizing: border-box;
}

body {
    background-color: white;
}

#welcome {
    display: block;
}

#dating-container {
    display: none;
}

#blender {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}