.jokes {
    padding: 10px;
}
.jokes img {
    width: 300px;
    margin: 3px;
    float: left;
}
.jokes p {
    margin: 3px;
    float: left;
    width: fit-content;
    padding: 2px;
    border: 1px solid black;
}