.content {
    position: absolute;
    padding: 0px;
}
.filters {
    position: fixed;
    z-index: 2;
    top: 7vh;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
    user-select: none;
    width: 100vw;
}
.label {
    border-radius: 10px;
    background-color: #dd2222;
    padding: 5px;
    margin: 4px;
    float: left;
}

.list {
    float: left;
}
.trick {
    color: black;
    height: fit-content;
    margin: 5px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
}
.colon {
    float: left;
}
.tag {
    font-size: 12px;
    padding: 2px;
    margin: 4px;
}
.description {
    margin-top: 2px;
}