.content {
    position: absolute;
    height: calc(93vh - 110px);
    top: calc(7vh + 60px);
}
.filters {
    position: fixed;
    z-index: 2;
    top: 7vh;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
    user-select: none;
    width: 100vw;
}
select {
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background-color: red;
    color: #ffffff;
    border: 0px;
    border-right: 1px solid #000000;
    outline: none;
}

.list {
    float: left;
}
.trick {
    color: black;
    height: fit-content;
    margin: 5px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
}
.colon {
    float: left;
}
.taglist {
    width: calc(100vw - 40px);
    word-wrap: break-word;
}
.tag {
    font-size: 12px;
    padding: 2px;
    margin: 4px;
}
.description {
    margin-top: 2px;
}