:root {
    --filter-height: 60px;
}
.content {
    top: calc(var(--menu-height) + var(--filter-height));
    height: calc(100vh - var(--menu-height) - var(--filter-height));
}
.filters {
    display: flex;
    z-index: 2;
    position: fixed;
    top: var(--menu-height);
    height: var(--filter-height);
    align-items: center;
    width: 100vw;

    background-color: #000000;
    user-select: none;
}
select {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: calc(var(--filter-height) - 20px);
    background-color: red;
    color: #ffffff;
    border: 0px;
    border-right: 1px solid #000000;
    outline: none;
}

.list {
    float: left;
    width: calc(100vw - 37px);
}
.trick {
    color: black;
    height: fit-content;
    margin: 5px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.name {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
}
.colon {
    float: left;
}
.taglist {
    width: calc(100vw - 40px);
    word-wrap: break-word;
}
.tag {
    font-size: 12px;
    padding: 2px;
    margin: 4px;
}
.description {
    margin-top: 2px;
}
.empty {
    width: calc(100vw - 37px);
}