.idea {
    border: 1px solid black;
    float: left;
    padding: 10px;
    margin: 5px;
    min-width: fit-content;
}

.typeList {
    padding: 5px;
    margin-bottom: 10px;
}
.type {
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(128,200,255);
}

.toolList {
    padding: 5px;
    margin-top: 10px;
}
.tool {
    margin-right: 10px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(128,200,255);
}

.description {
    max-width: 40vw;
    color: black
}