* {
    font-family: "Alata";
    box-sizing: border-box;
    position: relative;
}
body {
    padding: 0px;
    margin: 0px;
}
button {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.board {
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1vw; 
    row-gap: 1vh;
}

.card {
    aspect-ratio: 1.5;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.card:hover {
    backdrop-filter: brightness(95%);
}
.clue {
    background-color: #ffd70040;
}
.active {
    border-color: blue;
    outline: 2px solid blue;
}

@media all and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .card {
        width: 90%;
    }
}