* {
    position: relative;
}
body {
    margin: 10px;
}
.header {
    height: fit-content;
    padding: 5px;
    line-height: 2;
    float: left;
}
.board {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1vw; 
    row-gap: 1vh;
}
.card {
    height: min(calc(80vh/3 - 24px), calc((2/3)*((100vw - 20px)/4 - 24px)));
    width: min(calc((100vw - 20px)/4 - 24px), calc(1.5*(80vh/3 - 24px)));
    border: 2px solid black;
    border-radius: 5px;
}
.clue {
    border-color: #ff8888;
    outline: 4px solid #ff8888;
}
.active {
    border-color: #8888ff;
    outline: 4px solid #8888ff;
}
