.Red {
    fill: #ff0000;
    stroke: #ff0000;
}
.Green {
    fill: #00ff00;
    stroke: #00ff00;
}
.Purple {
    fill: #440088;
    stroke: #440088;
}
.Empty {
    fill-opacity: 0;
}
.Lines {
    fill-opacity: 0.2;
}
.Full {
    fill-opacity: 1;
}
path {
    stroke-width: 3;
}