.Red {
    fill: #ee0000;
    stroke: #ee0000;
}
.Green {
    fill: #33ff44;
    stroke: #33ff44;
}
.Purple {
    fill: #220066;
    stroke: #220066;
}
.Empty {
    fill-opacity: 0;
}
.Lines {
    fill-opacity: 0.3;
}
.Full {
    fill-opacity: 1;
}
path {
    stroke-width: 5;
}