:root {
    --console-color: #ddddff;
    --default-text: #000000;
    --console-height: 30vh;
}
#HUD {
    display: none;

    width: 100%;

    color: var(--default-text);
    background-color: var(--console-color);
}

.textHUD {
    float: left;
    width: calc((100% - (100vh - var(--console-height)))/2);
    height: calc(100vh - var(--console-height));

    padding: 10px;

    background-color: inherit;
}
.mapHUD {
    float: left;
    height: calc(100vh - var(--console-height));
    aspect-ratio: 1 / 1;
    padding: 5px;

    background-color: inherit;
}
.buildHUD {
    float: left;
    width: 100%;
    height: var(--console-height);

    background-color: inherit;
}