:root {
    --console-color: #ddddff;
    --default-text: #000000;
    --console-height: 30vh;
}
#HUD {
    display: none;

    width: 100%;

    color: var(--default-text);
    background-color: var(--console-color);
}
.upperHUD {
    height: calc(100vh - var(--console-height));
    display: grid;
    grid-template-columns: 1fr calc(100vh - var(--console-height)) 2fr;
}

.mapHUD {
    height: calc(100vh - var(--console-height));
    aspect-ratio: 1 / 1;
    padding: 5px;

    background-color: inherit;
}
.buildHUD {
    width: 100%;
    height: calc(100vh - var(--console-height));

    background-color: inherit;
}