.mapHUD {
    background-color: black;
    width: 500px;
    height: 500px;
}
@keyframes spin {
    0% { transform: translateX(0px); }
    100% { transform: translateX(500px);}
}
.mapContainer {
    width: 100%;
    height: 100%;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;

    background-color: black;

    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
}
.mapContainer img {
    width: 100%;
    aspect-ratio: 1/1;
}
.mapContainer img:hover {
    filter: brightness(85%);
}