:root {
    --monitor: #11ff33;

    --typingA: #11ff33;
    --typingB: #11ccff;
    --typingC: #ff55ff;
}
.textHUD {
    width: 100%;
    height: calc(100vh - var(--console-height));

    padding: 2%;

    background-color: inherit;
}
.textMonitor {
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    background-color: black;
    font-family: "Advent Pro";
    font-size: 16px;
    padding: 6px;
}
.monitor::-webkit-scrollbar {
    width: 6px;
}
.monitor::-webkit-scrollbar-track {
    background: none;
}
.monitor::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--monitor);
}

.textMonitor p {
    margin-top: 0px;
}
.personA {
    color: var(--typingA);
}
.personB {
    color: var(--typingB);
}
.personC {
    color: var(--typingC)
}