:root {
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --highlight: yellow;
    --near: skyBlue;
}
* {
    font-family: 'Alata';
    user-select: none;
}
table {
    float: left;
    border-collapse: collapse;
}
td {
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
.clueArea {
    float: left;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
}
.nearby {
    background-color: var(--near);
}
.typing {
    background-color: var(--highlight);
}
.clueE {
    float: left;
    margin-right: 20px;
}
.clueE p {
    padding: 5px;
}