* {
    user-select: none;
}
body {
    overflow: hidden;
    cursor: none;
}
.back {
    z-index: -1;
    top: 0vh;
    left: -110vw;
    position: fixed;
    width: 320vw;
    height: 100vh;
}
.cross {
    top: 0;
    left: 0;
    position: fixed;
    width: 200px;
    height: 200px;
}