img {
    display: none;
}
#insta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: center;
}
@media all and (max-width: 600px) {
    #insta {
        grid-template-columns: 1fr;
    }
}